# Hands-on Lab: Working with Multiple Tables

How does an Implicit version of CROSS JOIN (also known as Cartesian Join) statement syntax look?

In [ ]:
SELECT column_name(s)
FROM table1, table2;

How does an Implicit version of INNER JOIN statement syntax look?

In [ ]:
SELECT column_name(s)
FROM table1, table2
WHERE table1.column_name = table2.column_name;

Database Tables used in this lab:

In [2]:
SELECT * FROM EMPLOYEES;
SELECT * FROM JOBS;

EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5

JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
100,Sr. Architect,60000.00,100000.00
200,Sr.Software Dev,60000.00,80000.00
220,Sr. Designer,70000.00,90000.00
234,Sr. Designer,70000.00,90000.00
300,Jr.Software Dev,40000.00,60000.00
400,Jr.Software Dev,40000.00,60000.00
500,Jr. Architect,50000.00,70000.00
600,Lead Architect,70000.00,100000.00
650,Jr. Designer,60000.00,70000.00
660,Jr. Designer,60000.00,70000.00

Objectives
After completing this lab you will be able to:
- Write SQL queries that access more than one table
- Compose queries that access multiple tables using a nested statement in the WHERE clause
- Build queries with multiple tables in the FROM clause
- Write Implicit Join queries with join criteria specified in the WHERE clause
- Specify aliases for table names and qualify column names with table aliases

Excersice 1: Accessing Multiple Tables with Sub-Queries
1. Problem:
    Retrieve only the EMPLOYEES records that correspond to jobs in the JOBS table.

In [2]:
SELECT * from EMPLOYEES
        WHERE JOB_ID IN
        (select JOB_IDENT FROM JOBS);

EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5

2. Problem:
    Retrieve only the list of employees whose JOB_TITLE is Jr. Designer.

In [3]:
SELECT * from EMPLOYEES
        WHERE JOB_ID IN
        (select JOB_IDENT FROM JOBS
                WHERE JOB_TITLE = 'Jr. Designer');

EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7

3. Problem: Retrieve JOB information and list of employees who earn more than $70,000.

In [6]:
SELECT * from JOBS
        WHERE JOB_IDENT IN
        (select JOB_ID FROM EMPLOYEES
                WHERE SALARY > 70000);

JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
100,Sr. Architect,60000.00,100000.00
200,Sr.Software Dev,60000.00,80000.00
600,Lead Architect,70000.00,100000.00

4. Problem: Retrieve JOB information and list of employees whose birth year is after 1976.

In [11]:
SELECT * FROM JOBS
        WHERE JOB_IDENT IN
        (select JOB_ID from EMPLOYEES
                WHERE YEAR(B_DATE)>1976);

JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
220,Sr. Designer,70000.00,90000.00
234,Sr. Designer,70000.00,90000.00
300,Jr.Software Dev,40000.00,60000.00
400,Jr.Software Dev,40000.00,60000.00
500,Jr. Architect,50000.00,70000.00
600,Lead Architect,70000.00,100000.00
660,Jr. Designer,60000.00,70000.00

5. Problem: Retrieve JOB information and list of female employees whose birth year is after 1976.

In [12]:
SELECT * FROM JOBS
        WHERE JOB_IDENT IN
        (select JOB_ID from EMPLOYEES
                WHERE YEAR(B_DATE)>1976 AND SEX='F');

JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
220,Sr. Designer,70000.00,90000.00
234,Sr. Designer,70000.00,90000.00
600,Lead Architect,70000.00,100000.00

Exercise 2: Accessing Multiple Tables with Implicit Joins
1. Problem: Perform an implicit cartesian/cross join between EMPLOYEES and JOBS tables.

In [14]:
SELECT * FROM EMPLOYEES, JOBS;

EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID,JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,100,Sr. Architect,60000.00,100000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,100,Sr. Architect,60000.00,100000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,100,Sr. Architect,60000.00,100000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,100,Sr. Architect,60000.00,100000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,100,Sr. Architect,60000.00,100000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,100,Sr. Architect,60000.00,100000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,100,Sr. Architect,60000.00,100000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,100,Sr. Architect,60000.00,100000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,100,Sr. Architect,60000.00,100000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,100,Sr. Architect,60000.00,100000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,200,Sr.Software Dev,60000.00,80000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,200,Sr.Software Dev,60000.00,80000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,200,Sr.Software Dev,60000.00,80000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,200,Sr.Software Dev,60000.00,80000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,200,Sr.Software Dev,60000.00,80000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,200,Sr.Software Dev,60000.00,80000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,200,Sr.Software Dev,60000.00,80000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,200,Sr.Software Dev,60000.00,80000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,200,Sr.Software Dev,60000.00,80000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,200,Sr.Software Dev,60000.00,80000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,220,Sr. Designer,70000.00,90000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,220,Sr. Designer,70000.00,90000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,220,Sr. Designer,70000.00,90000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,220,Sr. Designer,70000.00,90000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,220,Sr. Designer,70000.00,90000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,220,Sr. Designer,70000.00,90000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,220,Sr. Designer,70000.00,90000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,220,Sr. Designer,70000.00,90000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,220,Sr. Designer,70000.00,90000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,220,Sr. Designer,70000.00,90000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,234,Sr. Designer,70000.00,90000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,234,Sr. Designer,70000.00,90000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,234,Sr. Designer,70000.00,90000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,234,Sr. Designer,70000.00,90000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,234,Sr. Designer,70000.00,90000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,234,Sr. Designer,70000.00,90000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,234,Sr. Designer,70000.00,90000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,234,Sr. Designer,70000.00,90000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,234,Sr. Designer,70000.00,90000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,234,Sr. Designer,70000.00,90000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,300,Jr.Software Dev,40000.00,60000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,300,Jr.Software Dev,40000.00,60000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,300,Jr.Software Dev,40000.00,60000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,300,Jr.Software Dev,40000.00,60000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,300,Jr.Software Dev,40000.00,60000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,300,Jr.Software Dev,40000.00,60000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,300,Jr.Software Dev,40000.00,60000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,300,Jr.Software Dev,40000.00,60000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,300,Jr.Software Dev,40000.00,60000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,300,Jr.Software Dev,40000.00,60000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,400,Jr.Software Dev,40000.00,60000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,400,Jr.Software Dev,40000.00,60000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,400,Jr.Software Dev,40000.00,60000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,400,Jr.Software Dev,40000.00,60000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,400,Jr.Software Dev,40000.00,60000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,400,Jr.Software Dev,40000.00,60000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,400,Jr.Software Dev,40000.00,60000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,400,Jr.Software Dev,40000.00,60000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,400,Jr.Software Dev,40000.00,60000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,400,Jr.Software Dev,40000.00,60000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,500,Jr. Architect,50000.00,70000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,500,Jr. Architect,50000.00,70000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,500,Jr. Architect,50000.00,70000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,500,Jr. Architect,50000.00,70000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,500,Jr. Architect,50000.00,70000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,500,Jr. Architect,50000.00,70000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,500,Jr. Architect,50000.00,70000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,500,Jr. Architect,50000.00,70000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,500,Jr. Architect,50000.00,70000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,500,Jr. Architect,50000.00,70000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,600,Lead Architect,70000.00,100000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,600,Lead Architect,70000.00,100000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,600,Lead Architect,70000.00,100000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,600,Lead Architect,70000.00,100000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,600,Lead Architect,70000.00,100000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,600,Lead Architect,70000.00,100000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,600,Lead Architect,70000.00,100000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,600,Lead Architect,70000.00,100000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,600,Lead Architect,70000.00,100000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,600,Lead Architect,70000.00,100000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,650,Jr. Designer,60000.00,70000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,650,Jr. Designer,60000.00,70000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,650,Jr. Designer,60000.00,70000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,650,Jr. Designer,60000.00,70000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,650,Jr. Designer,60000.00,70000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,650,Jr. Designer,60000.00,70000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,650,Jr. Designer,60000.00,70000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,650,Jr. Designer,60000.00,70000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,650,Jr. Designer,60000.00,70000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,650,Jr. Designer,60000.00,70000.00
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,660,Jr. Designer,60000.00,70000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,660,Jr. Designer,60000.00,70000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,660,Jr. Designer,60000.00,70000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,660,Jr. Designer,60000.00,70000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,660,Jr. Designer,60000.00,70000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,660,Jr. Designer,60000.00,70000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,660,Jr. Designer,60000.00,70000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,660,Jr. Designer,60000.00,70000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,660,Jr. Designer,60000.00,70000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,660,Jr. Designer,60000.00,70000.00

2. Problem: Retrieve only the EMPLOYEES records that correspond to jobs in the JOBS table.

In [16]:
SELECT * FROM EMPLOYEES, JOBS
        WHERE EMPLOYEES.JOB_ID = JOBS.JOB_IDENT;

EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID,JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,100,Sr. Architect,60000.00,100000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,200,Sr.Software Dev,60000.00,80000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,300,Jr.Software Dev,40000.00,60000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,400,Jr.Software Dev,40000.00,60000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,500,Jr. Architect,50000.00,70000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,600,Lead Architect,70000.00,100000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,650,Jr. Designer,60000.00,70000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,660,Jr. Designer,60000.00,70000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,234,Sr. Designer,70000.00,90000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,220,Sr. Designer,70000.00,90000.00

3. Problem: Redo the previous query, using shorter aliases for table names.

In [15]:
SELECT * FROM EMPLOYEES E, JOBS J
        WHERE E.JOB_ID = J.JOB_IDENT;

EMP_ID,F_NAME,L_NAME,SSN,B_DATE,SEX,ADDRESS,JOB_ID,SALARY,MANAGER_ID,DEP_ID,JOB_IDENT,JOB_TITLE,MIN_SALARY,MAX_SALARY
E1001,John,Thomas,123456,1976-01-09,M,"""5631 Rice OakPark IL""",100,100000.00,30001,2,100,Sr. Architect,60000.00,100000.00
E1002,Alice,James,123457,1972-07-31,F,"""980 Berry ln Elgin IL""",200,80000.00,30002,5,200,Sr.Software Dev,60000.00,80000.00
E1003,Steve,Wells,123458,1980-08-10,M,"""291 Springs Gary IL""",300,50000.00,30002,5,300,Jr.Software Dev,40000.00,60000.00
E1004,Santosh,Kumar,123459,1985-07-20,M,"""511 Aurora Av Aurora IL""",400,60000.00,30004,5,400,Jr.Software Dev,40000.00,60000.00
E1005,Ahmed,Hussain,123410,1981-01-04,M,"""216 Oak Tree Geneva IL""",500,70000.00,30001,2,500,Jr. Architect,50000.00,70000.00
E1006,Nancy,Allen,123411,1978-02-06,F,"""111 Green Pl Elgin IL""",600,90000.00,30001,2,600,Lead Architect,70000.00,100000.00
E1007,Mary,Thomas,123412,1975-05-05,F,"""100 Rose Pl Gary IL""",650,65000.00,30003,7,650,Jr. Designer,60000.00,70000.00
E1008,Bharath,Gupta,123413,1985-05-06,M,"""145 Berry Ln Naperville IL""",660,65000.00,30003,7,660,Jr. Designer,60000.00,70000.00
E1009,Andrea,Jones,123414,1990-07-09,F,"""120 Fall Creek Gary IL""",234,70000.00,30003,7,234,Sr. Designer,70000.00,90000.00
E1010,Ann,Jacob,123415,1982-03-30,F,"""111 Britany Springs Elgin IL""",220,70000.00,30004,5,220,Sr. Designer,70000.00,90000.00

4. Problem: Redo the previous query, but retrieve only the Employee ID, Employee Name and Job Title.

In [17]:
SELECT EMP_ID, F_NAME, L_NAME, JOB_TITLE FROM EMPLOYEES E, JOBS J
        WHERE E.JOB_ID = J.JOB_IDENT;

EMP_ID,F_NAME,L_NAME,JOB_TITLE
E1001,John,Thomas,Sr. Architect
E1002,Alice,James,Sr.Software Dev
E1003,Steve,Wells,Jr.Software Dev
E1004,Santosh,Kumar,Jr.Software Dev
E1005,Ahmed,Hussain,Jr. Architect
E1006,Nancy,Allen,Lead Architect
E1007,Mary,Thomas,Jr. Designer
E1008,Bharath,Gupta,Jr. Designer
E1009,Andrea,Jones,Sr. Designer
E1010,Ann,Jacob,Sr. Designer

5. Problem: Redo the previous query, but specify the fully qualified column names with aliases in the SELECT clause.

In [18]:
SELECT E.EMP_ID , E.F_NAME, E.L_NAME, J.JOB_TITLE FROM EMPLOYEES E, JOBS J
        WHERE E.JOB_ID = J.JOB_IDENT;

EMP_ID,F_NAME,L_NAME,JOB_TITLE
E1001,John,Thomas,Sr. Architect
E1002,Alice,James,Sr.Software Dev
E1003,Steve,Wells,Jr.Software Dev
E1004,Santosh,Kumar,Jr.Software Dev
E1005,Ahmed,Hussain,Jr. Architect
E1006,Nancy,Allen,Lead Architect
E1007,Mary,Thomas,Jr. Designer
E1008,Bharath,Gupta,Jr. Designer
E1009,Andrea,Jones,Sr. Designer
E1010,Ann,Jacob,Sr. Designer